<div id="deal_tab_summary" data-hook>
  <h3 id="deal_number" data-hook><%= t("deal.name") %> #<%= @deal.id %></h3>
  <h5 id="deal_status" data-hook><%= t(:status) %>: <%# t(@deal.state, :scope => :deal_state) %></h5>
  <br class="clear" />
</div>
<br class="clear" />

<ul class="sidebar" data-hook="admin_deal_tabs">
  <li<%== ' class="active"' if controller.controller_name == 'deals' %>>
    <%= link_to t("deal.name"), edit_admin_deal_url(@deal) %>
  </li>
  <li<%== ' class="active"' if controller.controller_name == 'orders' %>>
    <%= link_to t(:orders), admin_deal_orders_url(@deal) %>
  </li>
</ul>