<h1><%= t(:editing_deal) %></h1>

<%= form_for [:admin, @deal] do |f| %>
  <%= render f %>
<% end %>

<%= form_for [:admin, @deal.product] do |f| %>
  <%= render "form_product", :form => f %>
<% end %>

<% content_for :sidebar do %>
  <%= render "sidebar" %>
<% end %>